{% load dajaxice_templatetags %}
<html>
  <head>
    <title>Red Color Map - מפת צבע אדום</title>

    
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCKGyJt0_6KI7E3NLtnlbAf7GYY3S3z_KE&sensor=false">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    
    <script>
        $(function() {
            //Create map:
            var center = new google.maps.LatLng(31.538749, 34.678344);
            var myOptions = {
              scrollwheel: false,
              draggable: false,
              zoomControl: false,
              disableDoubleClickZoom: false,
              navigationControl: false,
              mapTypeControl: false,
              scaleControl: false,
              streetViewControl: false,
              disableDefaultUI: true,
              center: center,
              zoom: 9,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            map = new google.maps.Map(document.getElementById("map-div"),
                myOptions);
            
            setInterval(check_attacks, 30 * 1000);
            check_attacks()
            
            add_seed();
            
 
        });
        
        function after_check(data)
        {
          for (var i=0; i < data["latest"].length; ++i)
          {
            var report = data["latest"][i];
            console.log(report.hebrew_name);
            show_attack(report.hebrew_name, report.lat, report.long);
          }
        }
        
        function add_seed()
        {
          var location;
          var marker;
            {% for report in latest %}
              show_attack('{{ report.area.hebrew_name }}', {{ report.area.center_lat }}, {{ report.area.center_long }});
            {% endfor %}
        }
        
        function check_attacks()
        {
          Dajaxice.theapp.check_attacks(after_check);
        }
        
        function show_attack(name, lat, long)
        {
          var location = new google.maps.LatLng(lat, long);
          var marker = new google.maps.Marker({
                  position: location,
                  map: map,
                  title: name,
                  });
        }
        
    </script>
    {% dajaxice_js_import %}
  </head>
  
  <body style="background-color:#F0EDE5">
    
    <div id="map-div" style="position:absolute; margin:0px; width:99%; height:99%;"></div>
    
  </body>
</html>